<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Sash Zats</string>
	<key>Builder Version</key>
	<string>11601.1.41</string>
	<key>CFBundleDisplayName</key>
	<string>GitHub PR</string>
	<key>CFBundleIdentifier</key>
	<string>com.zats.github-pr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>scripts/jquery.min.js</string>
				<string>scripts/pr.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>styles/main.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Set of utilities to help review pull requests on GitHub</string>
	<key>DeveloperIdentifier</key>
	<string>5KE88HWMKJ</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>github.com</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/zats/GitHubPR.safariextension</string>
</dict>
</plist>
